---
import type { CollectionEntry } from "astro:content";
import type { SupportedLanguage } from "../types";
import { getTranslation } from "../utils/getContent";
import Dot from "./Dot.astro";
interface Props {
  recommendation: CollectionEntry<"recommendation">;
  language?: SupportedLanguage;
}

const { recommendation, language } = Astro.props;
const {
  data: { name, role, company, date, excerpt, link },
} = recommendation;
---

<div class="mb-2">
  <h4 class="text-lg font-bold">
    {name}
  </h4>
  <div class="text-sm text-gray-600">
    <span>{role}</span>
    <Dot size={6} />
    <span>{company}</span>
    <Dot size={6} />
    <span>{date}</span>
  </div>
  <div class="relative ml-2">
    <blockquote class="leading-tight" cite={link}>
      "{excerpt}"
    </blockquote>
    <a
      class="absolute pl-1 right-0 bottom-0 underline text-sm bg-white"
      href={link}>{getTranslation("READ_MORE", language)}</a
    >
  </div>
</div>
