---
import EducationEntry from "../components/EducationEntry.astro";
import Section from "../components/Section.astro";
import type { SupportedLanguage } from "../types";
import { getEducationEntry, getTranslation } from "../utils/getContent";

interface Props {
  language?: SupportedLanguage;
}

const { language } = Astro.props;

const softwareArchitect = await getEducationEntry(
  "software-architect",
  language
);
const scrumMaster = await getEducationEntry("scrum-master", language);
const masters = await getEducationEntry("msc-digital-composition", language);
const undergrad = await getEducationEntry("bmus-psychology", language);
const metaBackend = await getEducationEntry("meta-backend", language);
---

<Section title={getTranslation("EDUCATION", language)} centerTitle>
  <EducationEntry education={metaBackend} />
  <EducationEntry education={softwareArchitect} />
  <EducationEntry education={scrumMaster} />
  <EducationEntry education={masters} />
  <EducationEntry education={undergrad} />
</Section>
