---
import ExperienceEntry from "../components/ExperienceEntry.astro";
import Section from "../components/Section.astro";
import type { SupportedLanguage } from "../types";
import { getExperienceEntry, getTranslation } from "../utils/getContent";

interface Props {
  language?: SupportedLanguage;
}

const { language } = Astro.props;

const fides = await getExperienceEntry("fides", language);
const shopify = await getExperienceEntry("shopify", language);
const methodPark = await getExperienceEntry("method-park", language);
const honeypot = await getExperienceEntry("honeypot", language);
const wunderdog = await getExperienceEntry("wunderdog", language);
const freelance = await getExperienceEntry("freelance-2018", language);
const thomann = await getExperienceEntry("thomann", language);
---

<Section title={getTranslation("EXPERIENCE", language)}>
  <ExperienceEntry language={language} experience={fides} />
  <ExperienceEntry language={language} experience={shopify} />
  <ExperienceEntry language={language} experience={methodPark} />
  <ExperienceEntry language={language} experience={honeypot} />
  <ExperienceEntry language={language} experience={wunderdog} pageBreak />
  <ExperienceEntry language={language} experience={freelance} />
  <ExperienceEntry language={language} experience={thomann} />
  <!-- <ExperienceEntry experience={udg} /> -->
</Section>
